.account{
	width: 75%;

	background: var(--panel-bg-color);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	width: 100%;
	
}
.account h2{
	margin: 1rem;
}
.information{
	
	background-color: var(--bg-color);
	border-radius: 7px;
	height: 40%;
    margin-left: 3%;
	margin-right: 3%;

}
.information h5{
	text-align: center;
	color: white;
	text-transform: uppercase;
	padding-top: 1rem;
	margin-bottom: 1rem;
}
.information hr{
	border: 2px solid #1F2023;
}
.info{
    display: grid;
    grid-template-columns: 50% 50%;
	background-color: var(--bg-color);
	border-radius: 7px;
	height: 40%;
    margin-left: 1%;
    justify-items: center;

}
.info div{
	display: flex;
	flex-direction: column;
	padding-bottom: 0.1rem;
}

.dit{
    margin-top: 1rem;
    margin-left: 1rem;
    width: 50%;
    height: 30%;
    background: #1F2023;
border-radius: 5px;
}
.account form span {
	width: 85%;
	margin: 0 auto 0.35rem auto;
	font-size: 0.85em;
	font-weight: 500;
	color: var(--secondary-text-color);
	text-transform: uppercase;
}

.account form input {
	color: white;
	background-color: var(--panel-bg-color);
	border-radius: 0.25rem;
	height: 1.5rem;
	border: 0.11rem solid transparent;
	margin-bottom: 1rem;
	font-size: 0.85em;
	font-weight: 400;
	padding-left: 1rem;
	width: 20rem;

}
.account form select {
	color: white;
	background-color: var(--panel-bg-color);
	border-radius: 0.25rem;
	height: 1.5rem;
	border: 0.11rem solid transparent;
	
	font-size: 0.85em;
	font-weight: 400;
	padding-left: 1rem;
	
	width: 20rem;
}



.account form input[type="submit"] {
	padding: 0;
	margin: unset;
	margin-top: 1.75rem;
	margin-right: 1.5rem;
	margin-left: auto;
	width: 40%;
	height: 1.8rem;

	font-size: 0.85em;
	font-weight: bold;

	text-transform: uppercase;

	color: var(--bg-color);
	background-color: var(--gold-color);

	border-radius: 6px;
	cursor: pointer;
}

.container form input[type="submit"]:hover {
	background-color: var(--panel-bg-secondary-color);
	border: 1px solid var(--gold-color);
	color: var(--gold-color);
}

.account form input:focus {
	border-color: var(--gold-color);
}
.account form select:focus {
	border-color: var(--gold-color);
}
.button{
	padding: 7px 33px;
	/*
	grid-row: 6;
			grid-column: 2;
	*/
	
	background: #F5D8B9;
	border-radius: 8px;
	
	font-family: Poppins;
	font-style: normal;
	font-weight: 800;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height */
	
	align-items: center;
	text-align: center;
	
	color: #000000;
	
}

.but{
	margin-left: 1.5rem;
}