.discover {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	background: var(--panel-bg-color);
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	width: 100%;
	height: 100%;
}

h1 {
	margin: 1rem 2rem;
	font-size: 1.5em;
	font-weight: 600;
	margin-bottom: 0;
	grid-area: 1 / 1 / 1 / 7;
}

h3 {
	font-size: calc(0.4rem + 0.4vw);
	font-weight: 600;
	margin-top: 1.1%;
	margin-bottom: 0.5%;
	margin-left: 2rem;
}

.discover .foryou {
	display: flex;
	flex-direction: column;
	grid-area: 2 / 1 / 6 / 7;
}

.discover .foryou .books {
	height: 100%;
	display: flex;
	flex-direction: row;
	overflow: scroll;
	scrollbar-width: none;
}

/* Book container */
.discover .foryou .books .book {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-color);
	border-radius: 7px;
	height: 100%;
	flex: 0 0 10%;
	margin-left: 1%;
}

/* Offsets the first element */
.discover .foryou .books .book:first-child {
	margin-left: 2rem;
}

/* Image */
.discover .foryou .books .book .cover {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
	margin: 4%;
	margin-top: 5%;
	margin-bottom: 0;
}

/* Information container */
.discover .foryou .books .book .info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: auto;
	margin-bottom: auto;
}

.discover .foryou .books .book .info .rating {

}

/* Title */
.discover .foryou .books .book .info span:nth-child(1) {
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	font-size: calc(0.30rem + 0.4vw);
}

/* Author */
.discover .foryou .books .book .info span:nth-child(2) {
	padding: auto 0;
	color: var(--dark-white);
	font-size: calc(0.10rem + 0.4vw);
	font-weight: 300;
}

/* Rating */
.discover .foryou .books .info .rating {
	display: flex;
	align-items: center;
	font-size: calc(0.18rem + 0.4vw);
	color: var(--off-white-color);
}
/* Rating span */
.discover .foryou .books .info .rating span {
	margin-left: 2%;
}

/* Reason */
.discover .foryou .books .book .info span:nth-child(4) {
	color: var(--dark-white);
	font-size: calc(0.03rem + 0.4vw);
	font-weight: 300;
	font-style: italic;
}

.discover .browse {
	grid-area: 10 / 1 / 6 / 6;
	margin-left: 0.75rem;
}

.discover .browse h3, .discover .authors h3 {
	margin-top: 2vh;
}

.discover .browse .books {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.6vw;
}

.discover .browse .books .book {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 6.5vw;
	height: 8vw;
	margin-bottom: 1vw;
}

.discover .browse .books .book img {
	height: 100%;
}

.discover .browse .books .book span:first-of-type {
	font-size: calc(0.25rem + 0.4vw);
	font-weight: 600;
}

.discover .browse .books .book span:last-child {
	font-size: calc(0.15rem + 0.4vw);
	font-weight: 300;
	color: var(--dark-white);
}

.discover .authors {
	grid-area: 10 / 6 / 6 / 7;
	margin-top: 0.6vw;
}

.discover .authors .authorsContainer {
	display: flex;
	flex-direction: column;
}

.discover .authors .authorsContainer ul {
	margin-top: 4%;
}

.discover .authors .authorsContainer ul li {
	color: white;
	font-size: calc(0.4rem + 0.4vw);
	margin-bottom: 2%;
	font-weight: 500;
}

.discover .authors .authorsContainer ul li a {
	color: white;
}