:root {
	font-size: 16px;
	font-family: Poppins;
	color: white;

	--bg-color: #161618;
	--panel-bg-color: #1F2023;
	--panel-bg-secondary-color: #161618;
	--gold-color: #F5D8B9;
	--off-white-color: #C9C9C9;
	--secondary-text-color: #656874;
	--unselected-text-color: #313135;
	--dark-white: #787C87;
	--red-color: #BC2837;
	--green-color: #35C069;
}

body {
	background-color: var(--bg-color);
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
}

img {
	pointer-events: none;
	user-select: none;
}

.container {
	display: grid;
	grid-template-columns: 0.15fr 0.85fr;
	margin: 1%;
	margin-left: 15vw;
	margin-right: 15vw;
	gap: 1rem;
	justify-content: center;
}