.sideNav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: var(--panel-bg-color);
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	width: 100%;
}

.sideNav .logo {
	margin: 10% 15%;
	width: 35%;
	max-width: 100px;
	min-width: 50px;
}

.sideNav ul {
	list-style: none;
	width: 100%;
	padding: 0;
}

.sideNav ul li span {
	color: #787C87;
	font-weight: 500;
	font-size: calc(0.25rem + 0.4vw);
	text-transform: uppercase;

	margin-left: 0.75rem;
}

.sideNav ul li {
	display: flex;
	align-items: center;
	height: 3.5vh;
	max-height: 45px;
	min-height: 40px;
	padding-left: 2.5rem;
	border: 1.5px solid transparent;
	border-style: solid none solid none;
}

.sideNav ul li a {
	display: flex;
	align-items: center;
}

.sideNav ul li:first-child {
	margin-top: 0;
}

.sideNav > ul:nth-of-type(2) {
	margin-top: 2vh;
	margin-bottom: 2vh;
}


.sideNav ul li:hover, #active {
	background: var(--panel-bg-color);
	box-shadow: inset 0px -5px 30px rgba(16, 16, 16, 0.3), inset 0px 5px 30px rgba(0, 0, 0, 0.3);
	border-color: var(--gold-color);
}

#signUpLoginButton {
	display: flex;

	background-color: var(--gold-color);
	border-radius: 5vw;

	color: black;
	text-transform: uppercase;
	font-size: calc(0.18rem + 0.4vw);
	font-weight: 610;
	justify-content: center;
	align-items: center;

	width: 60%;
	height: 1.75rem;
	margin: 0 auto 1.5rem auto;
}

@media screen and (max-width: 1200px) {

	.sideNav {
		min-width: 70px;
	}

	.sideNav ul li span {
		display: none;
	}

	.sideNav ul li {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0;
	}

	.sideNav .logo {
		display: block;
		margin: 15px auto 20px auto;
	}

	#signUpLoginButton::before {
		content: "Login";
		font-size: calc(0.35rem + 0.4vw);
	}

	#signUpLoginButton > span{
		display: none;
	}
}