.content ul {
	list-style: none;
	padding: 0;
	margin-left: 1vw;
}

.content {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
}

.searchBar {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 1.5vh;
	background-color: var(--panel-bg-color);
	border-radius: 10px;
	overflow: hidden;
}

.searchBar img {
	width: 2%;
	margin: 1%;
}

.searchBar input {
	flex: 1;
	height: 100%;
	background-color: inherit;
	border: none;
	font-size: calc(0.4rem + 0.4vw);
	font-weight: 400;
	color: var(--dark-white);
}

.searchBar a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 8.5%;
	color: white;
	text-transform: uppercase;
	font-size: calc(0.3rem + 0.4vw);
	font-weight: 600;
	height: 100%;
}

.searchBar a:first-of-type {
	width: 6%;
	font-size: calc(0.2rem + 0.4vw);
}

.searchBar a:last-of-type {
	font-weight: 700;
	color: var(--bg-color);
	background-color: var(--gold-color);
}

.cards {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}

.cards h3 {
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-left: 0.75vw;
	font-size: calc(0.4rem + 0.4vw);
}

.cards > * {
	padding-bottom: 1.5vh;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.cards > *:not(:nth-of-type(3)) {
	flex: 1 auto;
	background-color: var(--panel-bg-color);
	border-radius: 10px;
}

.cards > *:not(:first-child)  {
	margin-left: 0.7vw;
}

.pagesNisbn {
	display: flex;
	flex-direction: column;
}

.pagesNisbn > * {
	flex: 1;
	background-color: var(--panel-bg-color);
	border-radius: 10px;
	margin-bottom: 1.25vh;
}

.cards input[type="text"], .cards .publicationDate input[type="date"] {
	background-color: inherit;
	border: 1.5px solid black;
	border-radius: 5px;
	height: 25%;
	margin-left: 1vw;
	margin-right: 1vw;
	margin-bottom: 1.25vh;
	text-align: center;
	color: var(--dark-white);
	font-size: calc(0.2rem + 0.4vw);
}

.cards .publicationDate {
	display: flex;
	flex-direction: column;
	height: auto;
}

.rating ul li {
	display: flex;
	flex-direction: row;
	/* align-items: center; */
}

.rating ul li svg {
	/* width: 4.5vw; */
}