.container {
	display: grid;
	grid-template-columns: 0.15fr 0.85fr;
	gap: 1rem;
}


.all-containers
{
    display: flex;
    flex-direction: row;
}


.small-container
{   display: flex;
    flex-direction: column;

    background: #1F2023;
    width: 35%;
    height: 48%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}



.wish-list-container
{
    display: flex;
    flex-direction: row;
    background: #161618;

    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
border-radius: 4px;
}

.read-later
{
    display: flex;
    flex-direction: row;
    background: #161618;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 4px; 
}

.sugg-by-friend
{
    display: flex;
    flex-direction: row;
    background: #161618;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.big
{  
     display: flex;
    flex-direction: row;
    background: #1F2023;
    width: 50%;
    height: 98%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}

